<h1>物件登録</h1>
<%= form_with(model: @rental, local: true) do |form| %>

 <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= @rental.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @rental.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="blog_title">
    <%= form.label :物件名 %><br>
    <%= form.text_field :name %>
  </div>
  <div class="blog_content">
    <%= form.label :賃料 %><br>
    <%= form.text_field :rent %>円
  </div>
  <div class="blog_content">
    <%= form.label :住所 %><br>
    <%= form.text_field :add %>
  </div>
    <div class="blog_content">
    <%= form.label :築年数 %><br>
    <%= form.text_field :years %>年
  </div>
    <div class="blog_content">
    <%= form.label :備考 %><br>
    <%= form.text_area :note %>
  </div>

<%= form.fields_for :stations do |station| %>
    <%= "最寄り駅#{station.index + 1}" %>
    <div class="blog_title">
      <%= station.label :路線名 %><br>
      <%= station.text_field :route %>
    </div>
    <div class="blog_title">
      <%= station.label :駅名 %><br>
      <%= station.text_field :name %>
    </div>
    <div class="blog_title">
      <%= station.label :徒歩分数 %><br>
      <%= station.text_field :minutes %>分
    </div>
  <% end %>

  <%= form.submit "登録する"%>
  <%= link_to 'Back', rentals_path %>
  
<% end %>

